export(gg2v)
export(plot_data)
export(plot_spec)
export(save_data)
export(temp_dir)
export(vg2png)
importFrom(RJSONIO,toJSON)
importFrom(digest,digest)
importFrom(ggplot2,is.ggplot)
importFrom(plyr,is.discrete)
importFrom(tools,file_path_sans_ext)
importFrom(whisker,whisker.render)
