S3method(convert_scale,"NULL")
S3method(convert_scale,gradient)
S3method(convert_scale,hue)
S3method(convert_scale,position_c)
S3method(convert_scale,position_d)
export(gg2v)
export(plot_data)
export(plot_spec)
export(save_data)
export(scale_dimension.dummy)
export(temp_dir)
export(vg2png)
importFrom(RJSONIO,toJSON)
importFrom(digest,digest)
importFrom(ggplot2,is.ggplot)
importFrom(plyr,is.discrete)
importFrom(tools,file_path_sans_ext)
importFrom(whisker,whisker.render)
